<h1 style="color: red; font-size:70px">Node Application</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi deleniti quas eveniet minus similique, aliquid
    reiciendis aliquam inventore dolor? Amet, similique nesciunt. Iste, minima repellat. Sed laboriosam temporibus quia
    harum?</p>